# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (0.14.5)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.3.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (1.16.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.3.1)
Requirement already satisfied: patsy>=0.5.6 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\vinyj\appdata\roaming\python\python313\site-packages (from statsmodels) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vinyj\appdata\roaming\python\python313\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vinyj\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vinyj\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest 

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [11]:
# Run this code:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [50]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [71]:
#First, let's filter for hourly workers only
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly'].copy()
# Extract the hourly rates (removing any NaN values)
hourly_rates = hourly_workers['Hourly Rate'].dropna()

In [68]:
display(hourly_rates)

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [72]:
c_sample = salaries[salaries['Salary or Hourly']=='Hourly'].sample(10)
c_sample

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
30503,"VASQUEZ, ANGELO",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
29860,"TOWERS, CLAUDETTE",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
7216,"DICKERSON, ALBERT C",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
30338,"VALENCIA, JOSE J",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
23043,"PESOTSKIY, RUVIM",SENIOR COMPANION,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
17546,"MACALUSO, ANN M",CROSSING GUARD - PER CBA,OEMC,P,Hourly,20.0,NaN,14.54
21255,"NINO, VINCENT J",CEMENT FINISHER,TRANSPORTN,F,Hourly,40.0,NaN,44.25
8796,"FIELDS SR., GARY A",PAINTER,AVIATION,F,Hourly,40.0,NaN,44.55
20155,"MORAGA, VICTALIA",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,20.31
12675,"HICKS, ALICIA M",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21

In [87]:
import scipy.stats as st
stat, p = st.ttest_1samp(c_sample ['Hourly Rate'],30)
print("t-statistic:", stat)
print("p-value:", p)

t-statistic: 0.47007369696461576
p-value: 0.6494843742122107

In [89]:
0.6494843742122107<0.05

False

In [ ]:
if p < 0.05:
    print("rejected H0: different mean of 30")
else:
    print("Not reject H0: the mean isn't differs of 30")

Not reject H0: mean isn't differs of 30

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here